# Final Project Import Development Data
## Brian Goggin
In this assignment, I import data from the San Francisco development pipeline from SF Open data's API. I import quarterly data from the fourth quarter of 2012 to the third quarter of 2016. In the first section of the notebook, I import, append, and clean the data. In other notebooks, I use this data to explore development activity in SF.

## Section 1: Import and Clean Data

First, import the packages necessary for calling an API.

In [38]:
#import packages
import pandas as pd
import numpy as np
import re as re
import json    # library for working with JSON-formatted text strings
import requests  # library for accessing content from web URLs
import pprint  # library for making Python data structures readable
pp = pprint.PrettyPrinter()

The SF Planning Department releases this data quarterly. Quarterly reports go back all the way to 2012. However, this data is messy and inconsistent. Therefore, each quarterly file has to be imported individually.

In [39]:
Q42016 = 'https://data.sfgov.org/resource/nba4-2xjv.json'
Q32016 = 'https://data.sfgov.org/resource/qwfj-9mts.json'
Q22016 = 'https://data.sfgov.org/resource/3n2r-nn4r.json'
Q12016 = 'https://data.sfgov.org/resource/6iid-qfaz.json'
Q42015 = 'https://data.sfgov.org/resource/6jnk-ty34.json'
Q32015 = 'https://data.sfgov.org/resource/8qip-pyye.json'
Q22015 = 'https://data.sfgov.org/resource/b6nb-tyvq.json'
Q12015 = 'https://data.sfgov.org/resource/auw5-vpae.json'
Q42014 = 'https://data.sfgov.org/resource/ia2z-a7eh.json'
Q32014 = 'https://data.sfgov.org/resource/9xqb-guwy.json' #Problem - this json does not have best date information that the raw csv file does
Q22014 = 'https://data.sfgov.org/resource/tkr2-mzci.json'
Q12014 = 'https://data.sfgov.org/resource/fq62-z4pc.json'
Q42013 = 'https://data.sfgov.org/resource/s42z-x9np.json'
Q32013 = 'https://data.sfgov.org/resource/h2ky-3rra.json'
Q22013 = 'https://data.sfgov.org/resource/ixti-hd8i.json'
Q12013 = 'https://data.sfgov.org/resource/662u-bk2r.json'
Q42012 = 'https://data.sfgov.org/resource/fpzh-9ii5.json'

Next, I define a function for importing the data from each API into a dataframe.

In [40]:
def importdata(quarter, quartervalue, field1, field2, field3, field4, 
               field5, field6, field7, field8, field9, field10, field11, 
               field12, geogfield1, geogfield2):
    '''
    This function calls the API endpoint quarter and returns a dataframe with the desired columns.
    field'n' = 'name' represent the desired fields as they are named at the API endpoint
    '''
    
    def includekey(field):
        '''
        This function takes a given field from the API endpoint and creates a list out of its entires.
        '''
        list = []
        for item in data: 
            if field in item.keys():
                list.append(item[field])
            else:
                list.append(np.nan)
        return list

    def include_coor_key(one, two):
        '''
        This function takes a given geographic field from the API endpoint and creates a list out of its entires.
        '''
        list = []
        for item in data: 
            if one in item.keys():
                list.append(item[one][two])
            else:
                list.append(np.nan)
        return list
    
    response = requests.get(quarter)
    results = response.text
    data = json.loads(results) #data is a list at this point
    
    #import fields
    d = {}
    d['lot_number'] = includekey(field1)
    d['address'] = includekey(field2)
    d['status'] = includekey(field3)
    d['latest_date'] = includekey(field4)
    d['units'] = includekey(field5)
    d['net_units'] = includekey(field6)
    d['affordable_units'] = includekey(field7)
    d['net_affordable_units'] = includekey(field8)
    d['zone'] = includekey(field9)
    d['desc'] = includekey(field10)
    d['comm_sqft'] = includekey(field11)
    d['comm_sqft_net'] = includekey(field12)
    d['lat_lon'] = include_coor_key(geogfield1, geogfield2)
    
    df = pd.DataFrame.from_dict(d)
    df['quarter'] = quartervalue
    
    return df

Import all of the data (one for each quarter).

In [41]:
Q32016df = importdata(Q32016, 'Q32016', 'apn', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'affordable', 'affnet', 'zoning_sim', 'dbidesc', 'total_gsf', 'net_gsf', 'location', 'coordinates')
Q22016df = importdata(Q22016, 'Q22016', 'apn', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'aff', 'affnet', 'zoning_sim', 'dbi_desc', 'total_gsf', 'net_gsf', 'location', 'coordinates')   
#Q12016df = importdata(Q12016, 'Q12016', 'apn', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'affordable', 'affordable_net', 'zoning', 'dbidesc', 'total_gsf', 'net_gsf', 'location', 'coordinates')
Q42015df = importdata(Q42015, 'Q42015','apn', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'affordable', 'affordab_1', 'zoning_sim','dbidesc', 'total_gsf', 'net_gsf', 'geography', 'coordinates')
Q32015df = importdata(Q32015, 'Q32015','apn', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'affordable', 'affordablenet', 'zoning_sim', 'dbidesc', 'total_gsf', 'net_gsf', 'location', 'coordinates')
Q22015df = importdata(Q22015,'Q22015', 'apn', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'affordable', 'affordablenet', 'zoning_sim', 'dbidesc', 'total_gsf', 'net_gsf', 'geography', 'coordinates')
Q12015df = importdata(Q12015, 'Q12015','blklot', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'aff', 'affnet', 'zoning_sim','dbidesc', 'total_gsf', 'net_gsf', 'geography', 'coordinates')
Q42014df = importdata(Q42014, 'Q42014','blklot', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'affordable', 'affnet', 'zoning_sim', 'dbidesc', 'total_gsf', 'net_gsf', 'geography', 'coordinates')
Q32014df = importdata(Q32014, 'Q32014','block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affnet', 'zoning', 'dbi_project_description', 'total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')
Q22014df = importdata(Q22014, 'Q22014','block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affordablenet', 'zoning_simplified', 'planning_project_description', 'total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')
Q12014df = importdata(Q12014,'Q12014', 'block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affordablenet', 'zoning_simplified','planning_project_description', 'total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')
Q42013df = importdata(Q42013,'Q42013', 'block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affordablenet', 'zoning_simplified','planning_project_description', 'total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')
Q32013df = importdata(Q32013, 'Q32013','block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affordablenet', 'zoning_simplified', 'planning_project_description', 'total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')
Q22013df = importdata(Q22013, 'Q22013','block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affordablenet', 'zoning_simplified', 'dbi_project_description', 'total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')
Q12013df = importdata(Q12013, 'Q12013','block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affordablenet', 'zoning_simplified', 'dbi_project_description','total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')
Q42012df = importdata(Q42012, 'Q42012','block_lot', 'location_1_address', 'best_stat', 'best_date', 'units', 'net_added_units', 'affordable', 'affordablenet', 'zoning_simplified', 'dbi_project_description','total_gsf_commercial', 'net_added_sf', 'location_1', 'coordinates')

# Import Q1 2016
Define a second import function for just Q1 2016 - need different importation because it is missing summation for commercial

In [42]:
def importdata(quarter, quartervalue, field1, field2, field3, 
               field4, field5, field6, field7, field8, field9, field10, 
               field11, field12, field13, field14, field15, field16, field17, field18, field19, 
               field20, field21, field22, geogfield1, geogfield2):
    '''
    This function calls the API endpoint quarter and returns a dataframe with the desired columns.
    field'n' = 'name' represent the desired fields as they are named at the API endpoint
    '''
    
    def includekey(field):
        '''
        This function takes a given field from the API endpoint and creates a list out of its entires.
        '''
        list = []
        for item in data: 
            if field in item.keys():
                list.append(item[field])
            else:
                list.append(np.nan)
        return list

    def include_coor_key(one, two):
        '''
        This function takes a given geographic field from the API endpoint and creates a list out of its entires.
        '''
        list = []
        for item in data: 
            if one in item.keys():
                list.append(item[one][two])
            else:
                list.append(np.nan)
        return list
    
    response = requests.get(quarter)
    results = response.text
    data = json.loads(results) #data is a list at this point
    
    #import fields
    d = {}
    d['lot_number'] = includekey(field1)
    d['address'] = includekey(field2)
    d['status'] = includekey(field3)
    d['latest_date'] = includekey(field4)
    d['units'] = includekey(field5)
    d['net_units'] = includekey(field6)
    d['affordable_units'] = includekey(field7)
    d['net_affordable_units'] = includekey(field8)
    d['zone'] = includekey(field9)
    d['desc'] = includekey(field10)
    d['retail'] = includekey(field11)
    d['retail_net'] = includekey(field12)
    d['office'] = includekey(field13)
    d['office_net'] = includekey(field14)
    d['ind'] = includekey(field15)
    d['ind_net'] = includekey(field16)
    d['med'] = includekey(field17)
    d['med_net'] = includekey(field18)
    d['vis'] = includekey(field19)
    d['vis_net'] = includekey(field20)
    d['cie'] = includekey(field21)
    d['cie_net'] = includekey(field22)
    d['lat_lon'] = include_coor_key(geogfield1, geogfield2)
    
    df = pd.DataFrame.from_dict(d)
    df['quarter'] = quartervalue
    
    return df

In [43]:
Q12016df = importdata(Q12016, 'Q12016', 'apn', 'nameaddr', 'beststat', 
                      'bestdate', 'units', 'unitsnet', 'affordable', 
                      'affordable_net', 'zoning', 'dbidesc', 
                      'retailcomm_proposed','retailcomm_net', 'office_proposed', 'office_net', 
                      'industrial_proposed', 'industrial_net', 'medical_proposed', 
                      'medical_net', 'visitor_proposed', 'visitor_net', 
                      'cie_proposed', 'cie_net', 'location', 'coordinates')

In [44]:
#convert variables to floats
vars = ['retail', 'office', 'ind', 'med', 'vis', 'cie']

for i in vars:
    Q12016df[i] = Q12016df[i].astype(int)
    Q12016df[i+'_net'] = Q12016df[i+'_net'].astype(int)

In [45]:
#define sums for total and net commercial square footage
Q12016df['comm_sqft'] = Q12016df[['retail', 'office', 'ind', 'med', 'vis', 'cie']].sum(axis = 1)
Q12016df['comm_sqft_net'] = Q12016df[['retail_net', 'office_net', 'ind_net', 'med_net', 'vis_net', 'cie_net']].sum(axis = 1)

In [46]:
Q12016df.head(10)

,address,affordable_units,cie,cie_net,desc,ind,ind_net,lat_lon,latest_date,lot_number,...,retail,retail_net,status,units,vis,vis_net,zone,quarter,comm_sqft,comm_sqft_net
0,247 MONTANA ST,0,0,0,LEGALIZE SECOND UNIT AS PER SF ORDINANCE 43-14.,0,0,"[-122.460794, 37.716342]",2015-11-06T00:00:00.000,APN 7069030,...,0,0,BP FILED,2,0,0,RH-1,Q12016,0,0
1,827 34TH AV,0,0,0,1ST FLOOR: CONVERT PORTION OF THE 1ST FLLOR TO...,0,0,"[-122.494256, 37.77343]",2016-03-07T00:00:00.000,APN 1677004,...,0,0,BP ISSUED,2,0,0,RH-2,Q12016,0,0
2,427 MORAGA ST,0,0,0,NEW 3RD FLOOR ADDITION TO (E); ADD MASTER BEDR...,0,0,"[-122.467379, 37.756267]",2008-07-03T00:00:00.000,APN 2039044,...,0,0,BP FILED,2,0,0,RH-2,Q12016,0,0
3,1000 07TH ST (BLDG 2 OF 3),0,0,0,CONSTRUCT (N) MERCANTILE/RETAIL/PDR BUILDING.,142784,56252,"[-122.399391, 37.768687]",2015-12-17T00:00:00.000,APN 3808003,...,0,0,BP ISSUED,0,0,0,PDR-1-D,Q12016,427255,340723
4,175 BREWSTER ST,0,0,0,"ERECT 4 STORY, TYPE 5, SINGLE FAMILY DWELLING ...",0,0,"[-122.407147, 37.743678]",2015-11-24T00:00:00.000,APN 5577012,...,0,0,BP ISSUED,1,0,0,RH-1,Q12016,0,0
5,657 VALENCIA ST,0,0,0,ERECT 5 STORIES OF 4 DWELLING UNIT . TYPE 5,0,0,"[-122.421365, 37.762418]",2015-10-23T00:00:00.000,APN 3576061,...,0,0,BP FILED,4,0,0,NCT-VALENCIA,Q12016,0,0
6,546 34TH AV,0,0,0,NaN,0,0,"[-122.493982, 37.77871]",2015-04-06T00:00:00.000,APN 1511034,...,0,0,CONSTRUCTION,2,0,0,RH-2,Q12016,0,0
7,259 CLARA ST,0,0,0,"ERECT 5-STORY, TYPE 5, 1 BASEMENT, 8 UNITS DWE...",0,-4000,"[-122.403506, 37.778347]",2015-05-13T00:00:00.000,APN 3753042,...,0,0,BP ISSUED,8,0,0,MUR,Q12016,945,-3055
8,1631 OAKDALE AV,0,0,0,"TO ERECT 4 STORIES, NO BASEMENT, 2 FAMILY DWEL...",0,0,"[-122.391494, 37.734952]",2015-10-16T00:00:00.000,APN 5322032,...,0,0,BP FILED,2,0,0,RH-2,Q12016,0,0
9,2034 CLEMENT ST,0,0,0,"ERECT 4 STORIES, 3 UNITS, TYPE 5 BUILDING.",0,0,"[-122.481284, 37.782524]",2014-04-10T00:00:00.000,APN 1412019,...,0,0,CONSTRUCTION,3,0,0,NCD-OUTER CLEMENT,Q12016,0,-2305

# Append Data Together
Append the dataframes together for one panel dataset.

In [47]:
#Append data together
quarters = [Q22016df, Q12016df, Q42015df, Q32015df, Q22015df, Q12015df, Q42014df, 
            Q32014df, Q22014df, Q12014df, Q42013df, Q32013df, Q22013df, Q12013df,
           Q42012df]
full_df = Q32016df.append(quarters)
full_df.shape

(14666, 26)

Clean data after appending.

In [48]:
#clean affordable units variables
full_df.loc[full_df['affordable_units'] == '0E-11', 'affordable_units'] = 0
full_df.loc[full_df['net_affordable_units'] == '0E-11', 'net_affordable_units'] = 0
#full_df.head()

In [49]:
#Clean data after importing
full_df['lon'] = full_df['lat_lon'].astype(str).str.split(',').str[0].str.strip('[')
full_df['lat'] = full_df['lat_lon'].astype(str).str.split(',').str[1].str.strip(']')
full_df['lon'] = full_df['lon'].astype(float)
full_df['lat'] = full_df['lat'].astype(float)
full_df['net_units'] = full_df['net_units'].astype(float) #convert to float
full_df['units'] = full_df['units'].astype(float) #convert to float
full_df['net_affordable_units'] = full_df['net_affordable_units'].astype(float) #convert to float
full_df['affordable_units'] = full_df['affordable_units'].astype(float) #convert to float
full_df['lot_number'] = full_df['lot_number'].str.strip('APN ').str.zfill(7)
full_df['comm_sqft'] = full_df['comm_sqft'].astype(float) #convert to float
full_df['comm_sqft_net'] = full_df['comm_sqft_net'].astype(float) #convert to float

In [50]:
#create a dictionary for which quarter a project is in and then sort by quarters
quarter_dict = {'Q32016': 17, 'Q22016': 16, 'Q12016': 15, 'Q42015': 14, 'Q32015': 13, 'Q22015': 12, 'Q12015': 11, 'Q42014': 10, 
                'Q32014': 9, 'Q22014': 8, 'Q22014': 7, 'Q12014': 6, 'Q42013': 5, 'Q32013': 4, 'Q22013': 3, 
                'Q12013': 2, 'Q42012': 1}

full_df['quarter_order'] = full_df['quarter'].map(quarter_dict)
full_df.sort_values(['lot_number', 'quarter_order'], ascending=True, inplace = True)

In [51]:
#Clean status column
def change(value):
    if value['status'] == 'BP Filed': 
        field = 'BP FILED'
        
    elif value['status'] == 'PL Filed':
        field = 'PL FILED'
        
    elif value['status'] == 'PL Approved':
        field = 'PL APPROVED'
        
    else: 
        field = value['status']
    return field


full_df['status'] = full_df.apply(change, axis = 1)

In [52]:
full_df['status'].value_counts() #check to see that each category is mutually exclusive

BP FILED         5680
CONSTRUCTION     2913
BP ISSUED        2058
PL FILED         1875
PL APPROVED      1322
BP APPROVED       509
BP REINSTATED     309
Name: status, dtype: int64

In [53]:
#Make Quarter variable nicer
full_df['quarter'] = full_df['quarter'].str[:2] + '-' + full_df['quarter'].str[2:]

# Export Residential Projects

In the next step, I filter out projects that have no impact on residential development. I define these as those projects with either both zeros for total units and total net units constructed or both nulls for total units and total net units constructed.

In [54]:
#filter out those observations that have no impact on residential construction (0 or null net units and 0 or null units)
full_df_res = full_df[(full_df['units'] != 0) | (full_df['net_units'] != 0)]
full_df_res = full_df_res[(full_df_res['units'].notnull()) | (full_df_res['net_units'].notnull())]

In this step, I create a new variable to order the quarters in the dataset.

In [55]:
#export data to csv
export_path = "/Users/briangoggin/Dropbox/CP 255/SF Development Project/Intermediate Files/"
full_df_res.to_csv(export_path+'/pipeline.csv')

# Export Commercial Projects

Finally, I filter out projects that have no impact on commercial development. I define these as those projects with either both zeros for total units and total net units constructed or both nulls for total units and total net units constructed.

In [56]:
full_df_com = full_df[(full_df['comm_sqft'] != 0) | (full_df['comm_sqft_net'] != 0)]
full_df_com = full_df_com[(full_df_com['comm_sqft'].notnull()) | (full_df_com['comm_sqft_net'].notnull())]

In [57]:
#export data to csv
export_path = "/Users/briangoggin/Dropbox/CP 255/SF Development Project/Intermediate Files/"
full_df_com.to_csv(export_path+'/pipeline_com.csv')