# Map Residential

In this notebook, I use the development pipeline data of SF development in order to create an online map of residential construction at the point level.

In [1]:
#import packages
import pandas as pd
import numpy as np
import re as re
import json    # library for working with JSON-formatted text strings
import requests  # library for accessing content from web URLs
import pprint  # library for making Python data structures readable
pp = pprint.PrettyPrinter()
pd.options.mode.chained_assignment = None #disables warnings for editing copy of a dataframe

In [2]:
#specify file paths
import_path = "/Users/briangoggin/Dropbox/CP 255/SF Development Project/Intermediate Files/"
code_path = "/Users/briangoggin/Dropbox/CP 255/SF Development Project/Code/Maps/"

## Determine constructed unites over time

First, I assume that units were constructed in the latest quarter for which the project had "construction" as a project status. I identify these observations.

In [3]:
full_df = pd.read_csv(import_path+"/pipeline.csv")

In [4]:
full_df.head()

,Unnamed: 0,address,affordable_units,cie,cie_net,comm_sqft,comm_sqft_net,desc,ind,ind_net,...,retail,retail_net,status,units,vis,vis_net,zone,lon,lat,quarter_order
0,372,1327 COLUMBUS AV,0.0,NaN,NaN,1592.0,-594.0,"TO CONSTRUCT 4 STORIES, NO BASEMENT, SINGLE RE...",NaN,NaN,...,NaN,NaN,BP FILED,1.0,NaN,NaN,C-2,-122.419326,37.806348,16
1,361,1327 COLUMBUS AV,0.0,NaN,NaN,1592.0,-594.0,"TO CONSTRUCT 4 STORIES, NO BASEMENT, SINGLE RE...",NaN,NaN,...,NaN,NaN,BP FILED,1.0,NaN,NaN,C-2,-122.419326,37.806348,17
2,785,1327 COLUMBUS AV,0.0,NaN,NaN,1592.0,-594.0,"TO CONSTRUCT 4 STORIES, NO BASEMENT, SINGLE RE...",NaN,NaN,...,NaN,NaN,BP FILED,1.0,NaN,NaN,C-2,-122.419326,37.806348,18
3,28,721 Beach St,NaN,NaN,NaN,5589.0,5589.0,"TO ERECT 3 STORIES, 1 UNIT RESIDENTIAL / COMME...",NaN,NaN,...,NaN,NaN,BP APPROVED,1.0,NaN,NaN,C-2,-122.420554,37.806808,1
4,8,721 Beach St,NaN,NaN,NaN,5589.0,5589.0,"TO ERECT 3 STORIES, 1 UNIT RESIDENTIAL / COMME...",NaN,NaN,...,NaN,NaN,BP REINSTATED,1.0,NaN,NaN,C-2,-122.420554,37.806808,2

In [9]:
full_df[full_df['address'] == '800 INDIANA ST'][['lot_number', 'quarter_order', 'quarter']]
#full_df[full_df['address'] == '800 INDIANA ST']

     lot_number  quarter_order  quarter
9451    4105009             14  Q4-2015
9452    4105009             15  Q1-2016
9453    4105009             16  Q2-2016
9454    4105009             17  Q3-2016

In [ ]:
vars = ['net_units', 'net_affordable_units']
#do some initial data cleaning
for item in vars:
    full_df[item] = full_df[item].fillna(0)
    
#replace nan descriptions with "Not Available"
full_df.loc[full_df['desc'].isnull(), 'desc'] = 'Not Available'

# Section 1. Create Recent Completions Geojson File

In [ ]:
#create dataframe for construction ending over time. This is a method to identify where construction ended,
#at which point the data drops out of the pipeline
cons_end = full_df[full_df['status'] == "CONSTRUCTION"].groupby(['lot_number'], as_index=False)['quarter_order'].max()
cons_end.rename(columns = {'quarter_order': 'consdate'}, inplace = True)
#merge data together to identify quarter that projects were built
full_df2 = full_df.merge(cons_end, on = 'lot_number', how = "outer")
full_df2 = full_df2[full_df2['consdate'] == full_df2['quarter_order']]
full_df2 = full_df2[full_df2['quarter_order'] != 18]

In [ ]:
#Define function to create categories for javascript maps. Each category will be separate dot color
def cats(value):
    if value['net_units'] <0: 
        field = 0
        
    elif (value['net_units'] >=0) & (value['net_units']<=15):
        field = 1
        
    elif (value['net_units'] >=16) & (value['net_units']<=30):
        field = 2
        
    elif (value['net_units'] >=31) & (value['net_units']<=50):
        field = 3
        
    elif (value['net_units'] >=51) & (value['net_units']<=100):
        field = 4  
        
    else: 
        field = 5
        
    return field


full_df2['unitcat'] = full_df2.apply(cats, axis = 1)

## Create Point Data

In [ ]:
#write function for dataframe
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

In [ ]:
#create google images
api_key = 'AIzaSyBDKfuB3GCVQs3sqCt_PIv8Ilosm0NQarA'
full_df2['google_image'] = 'https://maps.googleapis.com/maps/api/streetview?size=200x200&location='+full_df2['lat'].astype(str)+','+full_df2['lon'].astype(str)+'&fov=90&heading=235&pitch=10&key='+api_key

In [ ]:
#finally, create geojson
cols = ['net_units', 'net_affordable_units', 'address', 'quarter', 'zone', 'unitcat', 'google_image', 'desc']
geojson = df_to_geojson(full_df2, cols, 'lat', 'lon')

In [ ]:
# save the geojson result to a file
folder = code_path
output_filename = folder+'/Dot Maps/recent_data.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = {};'.format(json.dumps(geojson, indent=4)))

# Section 2. Create Geojson for Current Development Projects in the Pipeline

In [ ]:
#latest quarter in Q4-2016
current = full_df[full_df['quarter']=='Q4-2016']

In [ ]:
current['unitcat'] = current.apply(cats, axis = 1)

In [ ]:
#create google images
api_key = 'AIzaSyBDKfuB3GCVQs3sqCt_PIv8Ilosm0NQarA'
current['google_image'] = 'https://maps.googleapis.com/maps/api/streetview?size=200x200&location='+current['lat'].astype(str)+','+current['lon'].astype(str)+'&fov=90&heading=235&pitch=10&key='+api_key

In [ ]:
#Define function to clean up lat lon for one address that Planning Department got wrong
current.loc[current['address'] == '655 04TH ST', 'lat'] = 37.777739
current.loc[current['address'] == '655 04TH ST', 'lon'] = -122.395441

In [ ]:
#finally, create dataframe
cols = ['net_units', 'net_affordable_units', 'address', 'quarter', 'zone', 'unitcat', 'status', 'google_image', 'desc']
geojson = df_to_geojson(current, cols, 'lat', 'lon')

In [ ]:
# save the geojson result to a file
folder = code_path
output_filename = folder+'/Dot Maps/current_data.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset2 = {};'.format(json.dumps(geojson, indent=4)))

In [ ]:
current[current['address']== "655 04TH ST"][['lat_lon', 'lat', 'lon']]