# Assignment 6
Brian Goggin

In [2]:
#import packages
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import re as re
import json    # library for working with JSON-formatted text strings
import requests  # library for accessing content from web URLs
import pprint  # library for making Python data structures readable
pp = pprint.PrettyPrinter()

In [2]:
############################
## Quarter 2 2016
############################

# Call to the SF Open data API to grab json object from server
Q22016 = 'https://data.sfgov.org/resource/3n2r-nn4r.json' #API endpoint for quarter 2 2016 development pipeline data
response = requests.get(Q22016)
results = response.text #read the results from the server into a string

In [3]:
# parse the string into a Python object
data = json.loads(results)
print (type(data))

<class 'list'>

Note that the data is already in a list with each element corresponding to a dictionary with the attributes of a single development.

In [ ]:
pp.pprint(data[0])

In [25]:
d = {'lot_number': [d['apn'] for d in data],
    'status': [d['beststat'] for d in data],
    'latest_date': [d['bestdate'] for d in data], 
    'units': [d['units'] for d in data], 
    'net_units': [d['unitsnet'] for d in data], 
    'affordable_units': [d['aff'] for d in data],
    'net_affordable_units': [d['affnet'] for d in data],
    'coordinates': [d['location']['coordinates'] for d in data], 
    'address': [d['nameaddr'] for d in data]}

In [ ]:
#Some of the keys do not exist for all elements of the list (i.e. observations from the API endpoint)
# Therefore, we have to conditionally loop over these special cases to replace them with nans

#First, make a list to contain the zoning codes with nans where they are missing
zones = []

for item in data: 
    if 'zoning_sim' in item.keys():
        zones.append(item['zoning_sim'])
    else:
        zones.append(np.nan)
        
#next, make this list a key of the previous dictionary
d['zoning'] = zones

In [ ]:
#Construction code to check if key exists for all observations

i = 1

for d in data:

    if 'dbi_desc' in d.keys():
        i = 1 + i
    
    else: 
        print ("stopped at", i)

In [ ]:
df = pd.DataFrame.from_dict(d)
df.head(20)

In [26]:
############################
## Quarter 1 2016
############################


Q12016 = "https://data.sfgov.org/resource/6iid-qfaz.json"
response = requests.get(Q12016)
results = response.text #read the results from the server into a string
# parse the string into a Python object
data = json.loads(results)
print (type(data))

<class 'list'>

In [ ]:
pp.pprint(data[0])

In [31]:
d = {}

def includekey(field):
    list = []
    for item in data: 
        if field in item.keys():
            list.append(item[field])
        else:
            list.append(np.nan)
    return list

def include_coor_key(field1, field2):
    list = []
    for item in data: 
        if field1 in item.keys():
            list.append(item[field1][field2])
        else:
            list.append(np.nan)
    return list
        
d['lot_number'] = includekey('apn')
d['address'] = includekey('nameaddr')
d['status'] = includekey('beststat')
d['latest_date'] = includekey('bestdate')
d['units'] = includekey('units')
d['net_units'] = includekey('unitsnet')
d['affordable_units'] = includekey('affordable')
d['net_affordable_units'] = includekey('affordable_net')
d['zone'] = includekey('zoning')
d['lat_lon'] = include_coor_key('location', 'coordinates')

In [ ]:
df = pd.DataFrame.from_dict(d)
df.head(20)

In [3]:
############################
## Quarter 4 2015
############################

Q42015 = "https://data.sfgov.org/resource/6jnk-ty34.json"
response = requests.get(Q42015)
results = response.text #read the results from the server into a string
# parse the string into a Python object
data = json.loads(results)
print (type(data))

<class 'list'>

In [ ]:
##########################################################################
#####################################
##Construction Zone
#####################################
##########################################################################

In [23]:
pp.pprint(data[2])

{'affordab_1': '0',
 'affordable': '0',
 'apn': 'APN ',
 'bestdate': '2015-10-26T00:00:00.000',
 'beststat': 'PL FILED',
 'caseno': '2015-014275PRJ',
 'cie': '0',
 'cienet': '0',
 'descript': 'Proposed replacement of residential hotel rooms at six mixed '
             'tourist/residential hotels through out the city with group '
             'housing rooms to be constructed at 361 Turk St. & 145 '
             'Leavenworth St. Conversion of 226 formerly-designated '
             'residential hotel rooms at',
 'entitled': '0',
 'firstfiled': '2015-10-26T00:00:00.000',
 'landuse': 'Visitor',
 'med': '0',
 'mednet': '0',
 'mips': '0',
 'mipsnet': '0',
 'nameaddr': 'Tourist/Residential Hotel Conversion Project',
 'net_gsf': '0',
 'pdr': '0',
 'pdrnet': '0',
 'ret': '0',
 'retnet': '0',
 'source': 'CASE TRACKING',
 'total_gsf': '0',
 'units': '0',
 'unitsnet': '0',
 'visit': '0',
 'visitnet': '0'}

In [7]:
#Construction code to check if key exists for all observations

i = 1

for d in data:

    if 'geography' in d.keys():
        i = 1 + i
    else: 
        print ("not in", i)

not in 3

In [26]:
def includekey(field):
    list = []
    for item in data: 
        if field in item.keys():
            list.append(item[field])
        else:
            list.append(np.nan)
    return list

listone = includekey('geography')

for position, item in enumerate(listone):
    if item == np.nan:
        print (position)
        
listone[:5]

[{'coordinates': [-122.440615, 37.755505], 'type': 'Point'},
 {'coordinates': [-122.421344, 37.741582], 'type': 'Point'},
 nan,
 {'coordinates': [-122.424673, 37.771261], 'type': 'Point'},
 {'coordinates': [-122.46924, 37.720632], 'type': 'Point'}]

In [28]:
def include_coor_key(field1, field2):
    list = []
    for item in data: 
        if field1 in item.keys():
            list.append(item[field1][field2])
        else:
            list.append(np.nan)
    return list

listone = include_coor_key('geography', 'coordinates')

listone[:5]

[[-122.440615, 37.755505],
 [-122.421344, 37.741582],
 nan,
 [-122.424673, 37.771261],
 [-122.46924, 37.720632]]

In [33]:
def importdata(quarter, geogfield1, geogfield2):
    

    def include_coor_key(one, two):
        list = []
        for item in data: 
            if one in item.keys():
                list.append(item[one][two])
            else:
                list.append(np.nan)
        return list
    
    response = requests.get(quarter)
    results = response.text
    data = json.loads(results) #data is a list at this point
    
    #import fields
    d = {}
   
    d['lat_lon'] = include_coor_key(geogfield1, geogfield2)
    
    df = pd.DataFrame.from_dict(d)
    
    return df

In [34]:
Q42015df = importdata(Q42015, 'geography', 'coordinates')

In [25]:
'entitled' in data[2].keys()

True

In [21]:
print (np.nan)

nan

In [ ]:
##########################################################################
#####################################
##End Construction Zone
#####################################
##########################################################################

In [8]:
d = {}

def includekey(field):
    list = []
    for item in data: 
        if field in item.keys():
            list.append(item[field])
        else:
            list.append(np.nan)
    return list

def include_coor_key(field1, field2):
    list = []
    for item in data: 
        if field1 in item.keys():
            list.append(item[field1][field2])
        else:
            list.append(np.nan)
    return list
        
d['lot_number'] = includekey('apn')
d['address'] = includekey('nameaddr')
d['status'] = includekey('beststat')
d['latest_date'] = includekey('bestdate')
d['units'] = includekey('units')
d['net_units'] = includekey('unitsnet')
d['affordable_units'] = includekey('affordable')
d['net_affordable_units'] = includekey('affordab_1')
d['zone'] = includekey('zoning_sim')
d['lat_lon'] = include_coor_key('geography', 'coordinates')

In [ ]:
df = pd.DataFrame.from_dict(d)
df.head(20)

In [36]:
def importdata(quarter, field1, field2, field3, field4, field5, field6, field7, field8, field9, geogfield1, geogfield2):
    response = requests.get(quarter)
    results = response.text
    data = json.loads(results) #data is a list at this point
    
    #import fields
    d = {}
    d['lot_number'] = includekey(field1)
    d['address'] = includekey(field2)
    d['status'] = includekey(field3)
    d['latest_date'] = includekey(field4)
    d['units'] = includekey(field5)
    d['net_units'] = includekey(field6)
    d['affordable_units'] = includekey(field7)
    d['net_affordable_units'] = includekey(field8)
    d['zone'] = includekey(field9)
    d['lat_lon'] = include_coor_key(geogfield1, geogfield2)
    
    df = pd.DataFrame.from_dict(d)
    
    return df

In [37]:
df1 = importdata(Q22016, 'apn', 'nameaddr', 'beststat', 'bestdate', 'units', 'unitsnet', 'aff', 'affnet', 'zoning_sim', 'location', 'coordinates')

In [38]:
df1.head(10)

,address,affordable_units,lat_lon,latest_date,lot_number,net_affordable_units,net_units,status,units,zone
0,162 GRAND VIEW AV,NaN,NaN,2016-01-11T00:00:00.000,APN 2754052,NaN,2,BP APPROVED,2,RH-2
1,322 COLERIDGE ST,NaN,NaN,2015-06-29T00:00:00.000,APN 5673003,NaN,1,BP ISSUED,3,RH-2
2,Tourist/Residential Hotel Conversion Project,NaN,NaN,2015-10-26T00:00:00.000,APN,NaN,0,PL FILED,0,NaN
3,1870 MARKET ST,NaN,NaN,2015-05-01T00:00:00.000,APN 0871004,NaN,9,BP FILED,9,NCT-3
4,453 RALSTON ST,NaN,NaN,2015-12-17T00:00:00.000,APN 6996010,NaN,1,BP FILED,2,RH-1
5,851 46TH AV,NaN,NaN,2015-05-22T00:00:00.000,APN 1689013,NaN,1,BP FILED,2,RH-2
6,2882 - 2890 GEARY BL,NaN,NaN,2014-02-05T00:00:00.000,APN 1069045,NaN,2,BP ISSUED,7,NC-3
7,301 25TH AV,NaN,NaN,2015-06-17T00:00:00.000,APN 1408001,NaN,9,PL FILED,9,NC-1
8,245 VALENCIA ST,NaN,NaN,2015-11-20T00:00:00.000,APN 3532091,NaN,0,CONSTRUCTION,0,NCT-3
9,1278 - 1298 VALENCIA ST,NaN,NaN,2015-02-19T00:00:00.000,APN 3644021,NaN,35,BP FILED,35,NCT